.envoltura{
    margin-bottom: -0.5em;
    height: 100%;
    header {
    
        display: grid;
        header .logo {
            margin: 0;
            padding: 24px 30px;
            font-weight: bold;
            color: blueviolet;
            font-size: 1.6em;
          }
      }
      
  }